version: '3.4'

services: 
  mail:
    image: mailhog/mailhog
    ports:
      - "1025:1025"
      - "8025:8025"
    restart: always
    logging:
      driver: "json-file"
      options:
        max-size: 10m
        max-file: "3"

  grafana:
    image: grafana/grafana
    user: "104"
    depends_on:
      - prometheus
    ports:
      - 3000:3000
    volumes:
      - grafana_data:/var/lib/grafana
      - ./grafana/provisioning/:/etc/grafana/provisioning/
    env_file:
      - ./grafana/config.monitoring
    restart: always
    logging:
      driver: "json-file"
      options:
        max-size: 10m
        max-file: "3"

  prometheus:
    image: prom/prometheus
    volumes:
      - ./prometheus/:/etc/prometheus/
      - pm_data:/prometheus
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--storage.tsdb.path=/prometheus'
      - '--web.console.libraries=/usr/share/prometheus/console_libraries'
      - '--web.console.templates=/usr/share/prometheus/consoles'
    ports:
      - 9090:9090
    depends_on:
      - alertmanager
    restart: always

  node-exporter:
    image: prom/node-exporter
    volumes:
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
      - /:/rootfs:ro
    command:
      - '--path.procfs=/host/proc'
      - '--path.sysfs=/host/sys'
      - --collector.filesystem.ignored-mount-points
      - "^/(sys|proc|dev|host|etc|rootfs/var/lib/docker/containers|rootfs/var/lib/docker/overlay2|rootfs/run/docker/netns|rootfs/var/lib/docker/aufs)($$|/)"
    ports:
      - 9100:9100
    restart: always

  cadvisor:
    image: google/cadvisor
    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:rw
      - /sys:/sys:ro
      - /var/lib/docker/:/var/lib/docker:ro
    ports:
      - 8888:8080
    restart: always

  alertmanager:
    image: prom/alertmanager
    ports:
      - 9093:9093
    volumes:
      - ./alertmanager/:/etc/alertmanager/
    restart: always
    command:
      - '--config.file=/etc/alertmanager/config.yml'
      - '--storage.path=/alertmanager'
    depends_on:
      - mail

  discovery:
    image: consul
    ports:
      - "8500:8500"
    restart: always
    logging:
      driver: "json-file"
      options:
        max-size: 10m
        max-file: "3"

  database:
    image: postgres
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_PASSWORD: root
      POSTGRES_USER: simple
    volumes:
      - ./database/init-db.sh:/docker-entrypoint-initdb.d/init-db.sh
    healthcheck:
      test: [ "CMD", "mysql", "-u", "root", "-proot", "-e", "SHOW databases;" ]
      interval: 5s
      timeout: 10s
      retries: 10
    logging:
      driver: "json-file"
      options:
        max-size: 10m
        max-file: "3"

  cache:
    image: redis:5-alpine
    restart: always
    ports:
      - 6379:6379
    logging:
      driver: "json-file"
      options:
        max-size: 10m
        max-file: "3"

  tracing:
    image: openzipkin/zipkin
    restart: always
    ports:
      - 9411:9411
    logging:
      driver: "json-file"
      options:
        max-size: 10m
        max-file: "3"

  keycloak:
    image: quay.io/keycloak/keycloak
    restart: always
    ports:
      - 8000:8080
    environment:
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
      DB_VENDOR: POSTGRES
      DB_ADDR: 172.19.62.169
      DB_DATABASE: keycloak
      DB_USER: keycloak
      DB_SCHEMA: public
      DB_PASSWORD: norestforme
      KEYCLOAK_USER: admin
      KEYCLOAK_PASSWORD: admin
      PROXY_ADDRESS_FORWARDING: false
    volumes:
      - ./keycloak/realms/export:/tmp/export
      - ./keycloak/realms/Banter:/opt/keycloak/data/import

    logging:
      driver: "json-file"
      options:
        max-size: 10m
        max-file: "3"
    command:
      - start-dev --import-realm

  secrets:
    image: vault:latest
    restart: always
    ports:
      - 8200:8200
    environment:
      VAULT_DEV_ROOT_TOKEN_ID: thetoken
      VAULT_DEV_LISTEN_ADDRESS: 0.0.0.0:8200
      VAULT_LOCAL_CONFIG: '{"backend": {"file": {"path": "/vault/file"}}, "default_lease_ttl": "168h", "max_lease_ttl": "720h"}'
    cap_add:
      - IPC_LOCK
    logging:
      driver: "json-file"
      options:
        max-size: 10m
        max-file: "3"


volumes:
  grafana_data: {}
  pm_data: {}
  keycloak_data: {}
  tracing_data: {}
  vault_data: {}