global:
  scrape_interval:     15s
  evaluation_interval: 15s
  
  external_labels:
    monitor: 'gork'

scrape_configs:
    
  - job_name: 'consul'
    consul_sd_configs:
      - server: 'discovery:8500'
    relabel_configs:
      - source_labels: [__meta_consul_tags]
        regex: .*
        action: keep
      - source_labels: [__meta_consul_service]
        target_label: job
    

  - job_name: 'zipkin'
    scrape_interval: 5s
    metrics_path: '/prometheus'
    static_configs:
      - targets: [ 'tracing:9411' ]
    metric_relabel_configs:
      # Response code count
      - source_labels: [ __name__ ]
        regex: '^status_(\d+)_(.*)$'
        replacement: '${1}'
        target_label: status
      - source_labels: [ __name__ ]
        regex: '^status_(\d+)_(.*)$'
        replacement: '${2}'
        target_label: path
      - source_labels: [ __name__ ]
        regex: '^status_(\d+)_(.*)$'
        replacement: 'http_requests_total'
        target_label: __name__